
.div {
    text-align: center; margin: 0 auto; 
   margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    border: 1px solid gray;
}


.batafsil {
    margin-left: 650px;
}